/* import de la page des variables */
@import "./variables/variables.css";

/* import de la page du header */
@import "./partials/header.css";

/* import de la page du footer */
@import "./partials/footer.css";

/* import de la page home */
@import "./views/home.css";

/* import de la page game */
@import "./views/game.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: var(--width_full);
  min-height: var(--heightVH);
}

main {
  max-width: var(--width_full);
  min-height: var(--heightVH);
  flex-grow: 1;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex_center {
  justify-content: center;
}

.flex_between {
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.direction_column {
  flex-direction: column;
}

.text_center {
  text-align: center;
}
