* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border: 4px solid red;

  header {
    max-width: 100%;
    background-color: fuchsia;

    p {
      text-align: center;
      padding: 20px;
    }
  }

  main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: darksalmon;
    border: 4px solid blue;

    .chooseMode {
      width: 80%;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border: 4px solid blue;

      #easy,
      #medium,
      #hard {
        width: 200px;
        margin: 0 20px;
        padding: 15px;
        border-radius: 15px;
        border: none;
        border: 1px solid black;
      }

      #easy {
        background-color: aqua;
      }

      #medium {
        background-color: coral;
      }

      #hard {
        background-color: deeppink;
      }
    }
  }

  footer {
    max-width: 100%;
    background-color: chartreuse;

    p {
      text-align: center;
      padding: 20px;
    }
  }
}
