#home_personnages {
  max-width: var(--width_full);
  min-height: var(--heightVH);
  padding: 65px 0 40px 0;
  border: 4px solid red;

  h2 {
    font-family: var(--font_primary);
    color: var(--color_primary);
    padding: var(--padding_md);

    .title1 {
      text-decoration: underline;
    }
  }

  .personnagesParent {
    max-width: var(--width_full);
    padding: var(--padding_md);
    border: 4px solid orange;

    .persoContainer {
      width: var(--width_full);
      flex-wrap: wrap;
      gap: 2rem;
      padding: 60px 0;
      border: 4px solid blue;

      .perso {
        width: 250px;
        min-height: 325px;
        border: 1px solid rgba(46, 64, 87, 0.2);
        border-radius: 20px;

        .block_image {
          width: 55%;
          margin: auto;
          padding: var(--padding_s);

          img {
            width: var(--width_full);
            max-width: var(--width_full);
            object-fit: contain;
            display: flex;
          }
        }

        .block_text {
          width: var(--width_full);
          min-height: 100%;
          font-family: var(--font_secondary);
          font-size: var(--fontSize_xs);
          padding: var(--padding_s);

          p,
          span {
            padding: 5px 0;
          }

          span:first-child {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
