#home_personnages {
  max-width: var(--width_full);
  min-height: var(--heightVH);
  padding: 65px 0 40px 0;
  border: 4px solid red;

  h2 {
    font-family: var(--font_primary);
    color: var(--color_primary);
    padding: var(--padding_md);
    text-decoration: underline;
  }

  .personnagesParent {
    max-width: var(--width_full);
    display: flex;
    justify-content: center;
    padding: var(--padding_md);
    border: 4px solid orange;

    .persoContainer {
      width: 95%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: var(--padding_md);
      border: 4px solid blue;

      .perso {
        width: 250px;
        height: 250px;
        border: 2px solid var(--color_primary);
        border-radius: 20px;

        .block_image {
          width: 40%;
          margin: auto;
          border: 4px solid blue;

          img {
            width: var(--width_full);
            max-width: var(--width_full);
            object-fit: cover;
          }
        }

        .block_text {
          width: var(--width_full);
          border: 4px solid fuchsia;
        }
      }
    }

    .iconParent {
      border: 4px solid fuchsia;
      display: flex;
      align-items: center;

      i {
        border: 4px solid gold;
      }
    }
  }
}
