/* Fonctionnalités pour le bouton pour lancer le jeu et faire apparaître les cards */
button {
  &.active {
    height: var(--height_full);
    opacity: 1;
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("/images/bouton/button.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--color_secondary);
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    animation: pulse 2s infinite;

    &:hover {
      animation: none;
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(46, 64, 84, 0.6);
    transform: scale(1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(46, 64, 84, 0);
    transform: scale(1.15);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(46, 64, 84, 0);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(46, 64, 84, 0.6);
    transform: scale(1.15);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(46, 64, 84, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(46, 64, 84, 0);
    transform: scale(1.15);
  }
}
