/** Propriétés pour les cards */
.game_card {
  &.active {
    max-width: var(--width_full);
    min-height: var(--heightVH);
    background-image: url("/images/background/site/background_paper.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 4px solid red;
  }

  .card_wrapper {
    height: 0;
    opacity: 0;

    &.active {
      height: var(--height_full);
      opacity: 1;
      padding: var(--padding_xxxxl);
      transition: all 1s ease-in-out;
      border: 4px solid blue;
    }

    &.cardWrapper_padding {
      padding: 0 !important;
    }

    .card {
      height: 0;

      &.active {
        height: var(--height_full);
        opacity: 1;
        position: relative;
        width: var(--width_full);
        flex-wrap: wrap;
        list-style: none;
        gap: 2rem;
        border: 4px solid fuchsia;

        @media (max-width: 500px) {
          gap: 1rem;
        }
      }

      .cardBlock {
        position: absolute;
        background-color: var(--color_secondary);
        width: 130px;
        height: 130px;
        border-radius: 20px;
        border: 1px solid rgba(46, 64, 87, 0.6);

        &.active {
          position: relative;
          display: flex;
          /* perspective se met sur les enfants */
          transform-style: preserve-3d;
          transition: all 1s ease;
        }

        &.returnCard {
          transform: rotateY(180deg);
        }

        .cardFront,
        .cardBack {
          position: absolute;
          max-width: var(--width_full);
          width: var(--width_full);
          height: var(--height_full);
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          border-radius: 20px;
        }

        .cardFront {
          object-fit: cover;
        }

        .cardBack {
          object-fit: contain;
          transform: rotateY(180deg);
          background-color: var(--color_secondary);
        }
      }
    }
  }

  .buttonParent {
    height: 0;
    opacity: 0;

    &.active {
      height: 100%;
      opacity: 1;
      transition: all 1s ease-in-out;
      margin: var(--margin_reg);

      @media (max-width: 560px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: var(--margin_reg);
      }
    }

    .replay,
    .scores {
      width: 200px;
      font-family: var(--font_primary);
      font-size: var(--fontSize_s);
      font-weight: bold;
      background-color: var(--color_primary);
      margin: var(--margin_s);
      padding: var(--padding_reg);
      border-radius: 15px;
      border: none;
      transition: all 1s ease-in-out;
      cursor: pointer;

      a {
        color: var(--color_secondary);
        text-decoration: none;
      }
    }
  }
}
