#main_game {
  .section_game {
    max-width: var(--width_full);

    /* propriétés pour changer le background, en fonction des thèmes */
    .game_image {
      max-width: var(--width_full);
      height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    [data-id="img1"] {
      background-image: url("/images/background/dora/background_dora.avif");

      @media (max-width: 959px) {
        background-image: url("/images/background/dora/background_dora2.avif");
      }
    }

    [data-id="img2"] {
      background-image: url("/images/background/patPatrouille/background_patPatrouille.avif");
    }

    [data-id="img3"] {
      background-image: url("/images/background/dinosaures/background_dino.avif");
    }

    h1 {
      font-family: var(--font_primary);
      font-size: 24px;
      color: var(--color_primary);
      padding: 60px 0 40px 0;
    }

    /* propriétés choix des boutons */
    .chooseMode {
      padding: 40px 0;

      @media (max-width: 680px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &.active {
        display: none;
      }

      .button_mode {
        width: 200px;
        font-family: var(--font_primary);
        font-size: var(--fontSize_s);
        font-weight: bold;
        background-color: var(--color_primary);
        color: var(--color_secondary);
        margin: 0 20px;
        padding: var(--padding_reg);
        border-radius: 15px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: var(--color_tertiary);
        }

        @media (max-width: 680px) {
          margin: 20px 0;
        }
      }
    }
  }

  /** Propriétés après le play sur le bouton */
  .game_card {
    &.active {
      max-width: var(--width_full);
      min-height: var(--heightVH);
      background-image: url("/images/background/site/background_paper.avif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .card_wrapper {
      height: 0;
      opacity: 0;

      &.active {
        height: var(--height_full);
        opacity: 1;
        padding: var(--padding_xxxxl);
        transition: all 1s ease-in-out;
      }

      .card {
        height: 0;

        &.active {
          height: var(--height_full);
          opacity: 1;
          position: relative;
          width: var(--width_full);
          flex-wrap: wrap;
          list-style: none;
          gap: 2rem;
        }

        .cardBlock {
          position: relative;
          width: 130px;
          height: 130px;
          display: flex;
          /* perspective se met sur les enfants */
          transform-style: preserve-3d;
          transition: all 1s ease;

          &:hover {
            transform: rotateY(180deg);
          }

          &.active {
            position: absolute;
            border-radius: 20px;
          }

          .cardFront,
          .cardBack {
            position: absolute;
            width: var(--width_full);
            height: var(--height_full);
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            border-radius: 20px;
            border: 2px solid var(--color_primary);
          }

          .cardFront {
            background-color: coral;
          }

          .cardBack {
            transform: rotateY(180deg);
            background-color: aquamarine;
          }
        }
      }
    }

    /* Fonctionnalités pour le bouton pour lancer le jeu et faire apparaître les cards */
    button {
      height: 0;
      opacity: 0;

      &.active {
        position: absolute;
        width: 80px;
        height: 80px;
        background-image: url("/images/bouton/button.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: var(--color_secondary);
        opacity: 1;
        border: none;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        transition: transform 1s ease-in-out;
      }
    }
  }
}
