#main_trophy {
  max-width: var(--width_full);
  min-height: var(--heightVH);
  background-image: url("/images/background/site/background.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .trophy {
    max-width: 80%;
    min-height: 70vh;
    margin: var(--margin_reg) auto;
    padding: var(--padding_md);
    font-family: var(--font_primary);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;

    @media (max-width: 680px) {
      max-width: var(--width_full);
    }

    h1 {
      padding: var(--fontSize_md);
      font-size: var(--fontSize_xl);

      @media (max-width: 680px) {
        font-size: var(--fontSize_l);
      }
    }

    .title {
      text-decoration: underline;
    }

    .trophy_dora,
    .trophy_patPatrouille,
    .trophy_dino {
      max-width: var(--width_full);
      font-family: var(--font_secondary);
      font-size: var(--fontSize_s);
      padding: var(--fontSize_md);

      p {
        padding: var(--padding_xs);

        span:first-child {
          text-decoration: underline;
        }
      }
    }

    .button {
      .warning_text {
        font-family: var(--font_secondary);
        color: var(--color_quinary);
        font-size: var(--fontSize_s);
      }
      button {
        width: 150px;
        font-family: var(--font_primary);
        font-size: var(--fontSize_s);
        font-weight: bold;
        background-color: var(--color_primary);
        color: var(--color_secondary);
        margin: var(--margin_reg);
        padding: var(--padding_s);
        border-radius: 15px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: var(--color_tertiary);
          transform: scale(1.02);
        }
      }
    }
  }
}
